.row [class^=col-], .row .col {
    background-color: #ddd;
    border: 1px solid #ccc;
    height: 50px;
}
.row {
    background-color: #ff9999;
    padding: 10px;
    height: 200px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.media {
    background-color: #eeee;
    border-bottom: 1px solid black;
}

.test {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

#area {
    border: 1px solid #000;
    padding: 20px;
    background-color: #eee;
    width: fit-content;
}