body {
    background-color: #eee;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.area {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    
    text-align: center;
}

.logo {
    max-width: 150px;
    height: auto;
}

.form-control {
    margin-bottom: 5px;
}

.remember {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    color: #999;

    padding: 20px;
}