@media (max-width: 990px) {
    .container {
        width: 800px;
    }

    .main_image {
        border-radius: 10px;
        background-image: url('../images/senna.jpg');
        width: 800px;
        height: 532px;
        background-size: cover;
        background-position: center center;
    }

    .images img {
        width: 140px;
        height: 70px;
        border-radius: 5px;
    }
}
