@media (max-width: 250px) {
    .container {
        height: 600px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        border-color: 2px red;
    }

    h1 {
        font-size: 20px;
    }
}
